h1 {
   padding: 10px;
   margin: 20px 50px 50px;
   border-radius: 5px;
   width: -moz-fit-content;
   width: fit-content;
   background-color: white;
   color: #D4145A;
   text-shadow: 0 0 3px black; 
   box-shadow: 0 3px 10px -1px black;
}