/* You can add global styles to this file, and also import other style files */
* {
   font-family: Arial, Helvetica, sans-serif;
}

#the-body{
   background: linear-gradient(45deg, #D4145A, #FBB03B);
   height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
}